body{
    font-family: 'Segoe UI', Arial;
    font-size: 17px;
    text-align: center;
    background-color: darkgray;
}

.barratopo{
    background-color: #90ee90;
    overflow: hidden;
    border-bottom: 0.2rem solid #008000;
    width: 100%;
    height: 8%;
    min-height: 30px;
    justify-content: center;
    position:fixed;
    top: 0;
}

.barrafundo{
    background-color: #90ee90;
    overflow: hidden;
    border-top: 0.2rem solid #008000;
    width: 100%;
    height: 8%;
    min-height: 30px;
    justify-content: center;
    position:fixed;
    bottom: 0;
}

form>*{
border: 0.2rem solid black;
position: fixed;
font-size: 20px;
}

#escrevermsg{
margin-left: 1%;
height: 5%;
min-height: 10px;
margin-top: 7px;
width: 93%;
left: 0;
background-color: gray;
}

#enviarmsg{
    border: 0;
    right: 0;
    width: 3.5%;
    height: auto;
    margin-right: 0.8%;
    border-radius: 10px;
    min-height: 20px
}

marquee{
    font-size: 50px;
}

main{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mensagem{
    text-align: left;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 20px;
}

#pfp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
    border:2px solid black;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    background-color: gray;
}
#nomenamensagem{
    padding: 0;
    text-decoration: underline;
    font-weight: bold;
}

#conteudomensagem{
    max-width: 400px;
    margin-top: 10px;
}

#conteudomensagem>p{
    line-break:auto;
}

